
#header-content {
    display: flex;
    flex-direction: row;
    text-align: right;
    justify-content: flex-end;
    position: relative;
}

#google-img {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    margin-top: 9%;
    width: 15%;
}

#search-box {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 30%;
    padding-top: 0.8%;
    margin-left: 35%;
    margin-top: 1%;
    font-size: 20px;
    border-style: solid;
    border-radius: 20px;
    border-color: rgb(201, 201, 201);
 
}

.header-button {
    display: flex;
    margin-left: 10px;
    padding-bottom: 5px;
}

.box {
    border-style: solid;
    border-color: black;
    border-width: 2px;
    display: flex;
  }

#search-box:hover {
    box-shadow: 2px 2px 2px 2px #888888;
}

.header-button:hover {
    text-decoration: underline;
}

button {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 8px;
    margin-right: 8px;
}

.search-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    margin-top: 30px;
}

#footer {
    display: flex;
    flex-direction: row;
    height: 80px;
    margin-top: 465px;
    background-color: #f5f4f2;
}

.footer-style {
    display: flex;
    flex-direction: row;
    justify-content:left;
    margin-left: 5px;
    margin-right: 5px;
    float: left;
}

