
#header-content {
    display: flex;
    flex-direction: row;
    text-align: right;
    justify-content: flex-end;
    position: relative;
}

#google-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    width: 20%;
}

.header-button {
    background-color: grey;
    display: flex;
    margin-left: 10px;
    padding-bottom: 5px;
}

.box {
    border-style: solid;
    border-color: black;
    border-width: 2px;
    display: flex;

  }



